# Database (Neon PostgreSQL - Free)
DATABASE_URL="postgresql://neondb_owner:npg_QAS2rwjfDKY4@ep-green-frog-ao14f3p7-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
AUTH_SECRET="sinnerauth-secret-key-2026"
NEXTAUTH_URL="https://sinner-auth.vercel.app"

# App
NEXT_PUBLIC_APP_URL="https://sinner-auth.vercel.app"
